In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/USER/Downloads/customer_data.csv")

In [2]:
##2
df.head(5)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [3]:
##3
df.shape

(30000, 20)

In [4]:
##4
max_age = df['age'].max()
min_age = df['age'].min()
mean_age = df['age'].mean()

print(f"Maximum age: {max_age}")
print(f"Minimum age: {min_age}")
print(f"Mean age: {mean_age}")

Maximum age: 65
Minimum age: 18
Mean age: 41.550066666666666

In [7]:
##5
df['full_name'] = df['first'] + ' ' + df['last']
common_names = df['full_name'].value_counts().head(3)
print(f"Three most common customer names are:\n {common_names}")

Three most common customer names are:
 full_name
Henrietta Luna    4
Carl Morton       3
William Hill      3
Name: count, dtype: int64

In [8]:
##6
same_numbers = df[df.duplicated('phone', keep = False)]
print(same_numbers[['first', 'last', 'phone']])

    first   last           phone
15  Lilly  Tyler  (263) 382-8004
16  Peter   Cain  (263) 382-8004

In [10]:
##7
count = len(df[df['profession'] == 'Structural Engineer'])
print(f"Number of structural engineers= {count}")

Number of structural engineers= 87

In [11]:
##8
male_str_eng = df[(df['profession'] == 'Structural Engineer') & (df['gender'] == 'Male')]
print(f"Number of male structural engineers= {len(male_str_eng)}")

Number of male structural engineers= 43

In [13]:
##9
female_str_eng_ab = df[(df['profession'] == 'Structural Engineer') & (df['gender'] == 'Female') & (df['province'] == 'AB')]
print(f"Female structural engineers from the province Alberta= {len(female_str_eng_ab)}")

Female structural engineers from the province Alberta= 4

In [14]:
##10
max_spending = df['price(CAD)'].max()
min_spending = df['price(CAD)'].min()
avg_spending = df['price(CAD)'].mean()

print(f"Maximum spending: {max_spending}")
print(f"Minimum spending: {min_spending}")
print(f"Average spending: {avg_spending}")

Maximum spending: 100.0
Minimum spending: 0.0
Average spending: 49.990775

In [15]:
##11
no_spending = df[df['price(CAD)'] == 0][['first', 'last', 'price(CAD)']]
print(f"Customers who did not spend anything:\n {no_spending}")

Customers who did not spend anything:
        first   last  price(CAD)
5320   Bruce  Bryan         0.0
10597  Flora  Clark         0.0

In [16]:
##12
hundred_plus_spending = df[df['price(CAD)'] >= 100][['first', 'last', 'price(CAD)']]
print(f"person who Spent 100CAD or more:\n {hundred_plus_spending}")

person who Spent 100CAD or more:
          first         last  price(CAD)
76     Gregory        Brown       100.0
21093     Cody  Christensen       100.0
24385   Lizzie        Dixon       100.0

In [17]:
##13
emails = df[df['cc_no'] == 5020000000000230][['email']]
print(f"Number of emails that are associated with this credit card number ‘5020000000000230’: {len(emails)}")

Number of emails that are associated with this credit card number ‘5020000000000230’: 2

In [18]:
##14
expires_19 = df[df['cc_exp'].str.endswith('2019')]
print(f"number of cards that are expiring in 2019: {len(expires_19)}")

number of cards that are expiring in 2019: 2684

In [19]:
##15
visa_card = df[df['cc_type'] == "Visa"]
print(f"Number of people use visa card: {len(visa_card)}")

Number of people use visa card: 1721

In [20]:
##16
name = df[(df['cc_type'] == "Visa") & (df['price(CAD)'] == 100)][['first', 'last', 'price(CAD)']]
print(f"The customer spent 100 CAD using visa is:\n {name}")

The customer spent 100 CAD using visa is:
       first   last  price(CAD)
76  Gregory  Brown       100.0

In [21]:
##17
common_proff = df['profession'].value_counts().head(2)
print(f"two most common professions are: \n {common_proff}")

two most common professions are:
 profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

In [22]:
##18
df['provider'] = df['email'].str.split("@").str[1]
top_5 = df['provider'].value_counts().head(5)
print(f"Tof 5 email provider: \n {top_5}")

Tof 5 email provider:
 provider
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

In [23]:
##19
am_edu_mail = df[df['email'].str.contains('am.edu')][['first', 'last', 'email']]
print(f"Customer with am.edu mail: \n {am_edu_mail}")

Customer with am.edu mail:
        first      last         email
150  Loretta  Fletcher  barit@am.edu

In [24]:
##20
most_common_day = df['weekday'].value_counts().head(1)
print(f"The store gets most customers on:\n {most_common_day}")

The store gets most customers on:
 weekday
Saturday    4376
Name: count, dtype: int64